html{
  background-color: #5a5560;
}
body{
  background-color: #5a5560;
  height: 900px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

img.rpgLogo{
  height: 75px;
  width: 175px;
  padding: 10px;
}

a {
  color:whitesmoke;
}

.navbar {
  padding-top: 45px;
  padding-left: 20px;
  border-radius: 0;
  vertical-align: middle;
  height: 75px;
}

#lootButton{
  background-color: #faed26;
  color: #5a5560;
  font-size: 50px;
  height: 200px;
  width: 100%;
}


img {
  padding: 50px;
  height: 500px;
  width: 500px;
}




