<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://www.ign.com/"><img class="rpgLogo" src="../assets/rpgLogo2.png" alt="RPGains"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <ul id="colors" class="nav navbar-nav navbar-right">
        <li><a href="#">Track</a></li>
        <li><a href="#">Customize</a></li>
        <li><a href="#">Loot</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-left">
  <div class="row content">
    <div class="col-sm-2 sidenavL">
      <p>Weight</p>
      <p>Calorie Intake</p>
      <p>Squat</p>
      <p>Bench</p>
      <p>Curl</p>
    </div>

    <div class="col-sm-8 text-center">
      <h1>NAME</h1>
    </div>


    <div class="col-sm-2 sidenavR">
      <div class="well text-center">
        <p>HELMET</p>
      </div>
      <div class="well text-center">
        <p>ARMOR</p>
      </div>
      <div class="well text-center">
        <p>WEAPON</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 test">
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
</body>
</html>
