<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-left">
      <a routerLink="/homepage"><img class="rpgLogo" src="../assets/rpgLogo2.png" alt="RPGains"></a>
    </div>
    <div class="nav navbar-expand-lg" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <ul id="pages" class="nav navbar-nav navbar-right">
        <li><a routerLink="/tracking">Track</a></li>
        <li><a routerLink="/inventory">Customize</a></li>
        <li><a routerLink="/loot">Loot</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-left">
  <div class="row content1">
    <div class="col-sm-2 sidenavL">
      <p>Weight</p>
      <p>Calorie Intake</p>
      <p>Squat</p>
      <p>Bench</p>
      <p>Curl</p>
    </div>

    <div class="col-sm-8 text-center">
      <h1>Fname Lname</h1>
      <div id="playerPicture">
        <img class="johnnyB" src="../assets/Johnny_Bravo.png" alt="RPGains">
      </div>
      <div id="stage">
        <img class="stagePic" src="../assets/Stage.png" alt="stage">
      </div>
    </div>


    <div class="col-sm-2 sidenavR">
      <div class="well text-center">
        <p>HELMET</p>
      </div>
      <div class="well text-center">
        <p>ARMOR</p>
      </div>
      <div class="well text-center">
        <p>WEAPON</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row content2">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 progress">
      <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="70"
           aria-valuemin="0" aria-valuemax="100" style="width:70%">
        70%
      </div>
    </div>
    <div class="col-sm-1">
      Level Up: 34
    </div>
  </div>
</div>
</body>
</html>
