/*colors:
-YELLOW (#FAED26)
-PURPLE (#46344E)
-DARK GRAY (#5A5560)
-GRAY (#9D8D8F)
-BROWN (#9B786F)
 */
html{
  background-color: #5a5560;
}
body{
  background-color: #5a5560;
  height: 900px;
  color: white;
  font-family: 'Oswald', sans-serif;

}

.rpgLogo{
  height: 75px;
  padding: 10px;
  width: 175px;
}

a {
  color:whitesmoke;
}

.navbar{
  padding-top: 45px;
  padding-left: 20px;
  border-radius: 0;
  vertical-align:middle;
  height: 75px;
}

body::before{
  content: " ";
}

body::after{
  content: none;
}

.container .row:before,
.container .row:after {
  content: none;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content1 {
  padding-top: 50px;
}

.row.content2 {
  padding-top: 50px;
  padding-bottom: 45px;
}

/* Set gray background color and 100% height */
.sidenavL {
  padding-top: 15px;
  background-color: #46344E;
  color: whitesmoke;
  height: 100%;
}

.sidenavR {
  padding-top: 20px;
  background-color: #5A5560;
  color: gray;
}

.well{
  height: 175px;
  width: 175px;
}

#playerPicture{
  padding-top: 70px;
}

img.stagePic{
  height: 100px;
  width: 300px;
}
.progress{
  height: 70px;
  margin: 0;
  vertical-align:middle;
  text-align: right;
  background-color: #46344E;
}
.progress-bar{
  /*background-color: #FAED26;*/
  vertical-align:middle;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenavL {
    height: auto;
    padding: 15px;
  }

  .sidenavR {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
