<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customization</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-left">
      <a routerLink="/homepage"><img class="rpgLogo" src="../assets/dashboard/rpgLogo2.png" alt="RPGains"></a>
    </div>
    <div class="nav navbar-expand-lg" id="myNavbar">
      <ul id="pages" class="nav navbar-nav navbar-right">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/tracking">Track</a></li>
        <li><a routerLink="/customization">Customize</a></li>
        <li><a routerLink="/loot">Loot</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div id="side" class="row content">
    <div class="col-sm-5 sidenav">
      <p>{{userName}}</p>

      <div class="col-sm-4 blank">
      </div>

      <div class="col-sm-4 sidenavR">
        <div class="well text-center">
          <p>HELMET</p>
        </div>
        <div class="well text-center">
          <p>ARMOR</p>
        </div>
        <div class="well text-center">
          <p>WEAPON</p>
        </div>
      </div>

      <div class="col-sm-4 blank">
      </div>
    </div>

    <div class="col-sm-7 right">
      <div class="tab">
        <ul class="nav nav-pills nav-stacked ">
        <!--<button class="tablinks" onclick="openCity(event, 'one')">Armor</button>-->
        <!--<button class="tablinks" onclick="openCity(event, 'two')">Helmet</button>-->
        <!--<button class="tablinks" onclick="openCity(event, 'three')">Weapon</button>-->

      <!--</div>-->
      <li><a href="#section2">Armor</a></li>
      <li><a href="#section3">Helmet</a></li>
      <li><a href="#section3">Weapon</a></li>
      </ul>
      </div>
      <div id="one" class="tabcontent">
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-3 row1">
          <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
        </div>
      </div>


      <!--<div id="two" class="tabcontent">-->
        <!--<div class="col-sm-2 blank">-->
        <!--</div>-->
        <!--<div class="col-sm-3 row2">-->
          <!--<h4>col 1</h4>-->
        <!--</div>-->
        <!--<div class="col-sm-3 row2">-->
          <!--<h4>col 2</h4>-->
        <!--</div>-->
        <!--<div class="col-sm-3 row2">-->
          <!--<h4>col 3</h4>-->
        <!--</div>-->

      <!--</div>-->

      <!--<div id="three" class="tabcontent">-->
        <!--<div class="col-sm-2 blank">-->
        <!--</div>-->
        <!--<div class="col-sm-3 row3">-->
          <!--<h4>col 1</h4>-->
        <!--</div>-->
        <!--<div class="col-sm-3 row3">-->
          <!--<h4>col 2</h4>-->
        <!--</div>-->
        <!--<div class="col-sm-3 row3">-->
          <!--<h4>col 3</h4>-->

        <!--</div>-->
      <!--</div>-->
    </div>

  </div>
</div>


</body>
</html>
