<div class="container" >
  <div class="card-deck" style="padding-bottom: 50px">
      <h1 class="text-center text-primary">
        Weapons
      </h1>
      <div class="row">
        <div class="card"  >
            <img class="card-img-top"
                 alt="item1"
                 src="https://i.gyazo.com/4508eae30c678afaf035ea3cee0a9672.png" height="100" width="100"/>
            <div class="card-block">
              <h5 class="card-title">
                Sword Of Cthulu
              </h5>
              <p class="card-text"><span>+5 damage, +2 Fire Damage</span>
                Cthulus Sword made from cthulu eye and bones
              </p>
              <p>
                <a class="btn btn-primary" href="#">Equip</a>
              </p>
            </div>
          </div>
        <div class="card"  >
          <img class="card-img-top"
               alt="item1"
               src="https://i.gyazo.com/4508eae30c678afaf035ea3cee0a9672.png" height="100" width="100"/>
          <div class="card-block">
            <h5 class="card-title">
              Sword Of Cthulu
            </h5>
            <p class="card-text"><span>+5 damage, +2 Fire Damage</span>
              Cthulus Sword made from cthulu eye and bones
            </p>
            <p>
              <a class="btn btn-primary" href="#">Equip</a>
            </p>
          </div>
        </div>
        <div class="card"  >
          <img class="card-img-top"
               alt="item1"
               src="https://i.gyazo.com/4508eae30c678afaf035ea3cee0a9672.png" height="100" width="100"/>
          <div class="card-block">
            <h5 class="card-title">
              Sword Of Cthulu
            </h5>
            <p class="card-text"><span>+5 damage, +2 Fire Damage</span>
              Cthulus Sword made from cthulu eye and bones
            </p>
            <p>
              <a class="btn btn-primary" href="#">Equip</a>
            </p>
          </div>
        </div>
        <div class="card"  >
          <img class="card-img-top"
               alt="item1"
               src="https://i.gyazo.com/4508eae30c678afaf035ea3cee0a9672.png" height="100" width="100"/>
          <div class="card-block">
            <h5 class="card-title">
              Sword Of Cthulu
            </h5>
            <p class="card-text"><span>+5 damage, +2 Fire Damage</span>
              Cthulus Sword made from cthulu eye and bones
            </p>
            <p>
              <a class="btn btn-primary" href="#">Equip</a>
            </p>
          </div>
        </div>
        <div class="card"  >
          <img class="card-img-top"
               alt="item1"
               src="https://i.gyazo.com/4508eae30c678afaf035ea3cee0a9672.png" height="100" width="100"/>
          <div class="card-block">
            <h5 class="card-title">
              Sword Of Cthulu
            </h5>
            <p class="card-text"><span>+5 damage, +2 Fire Damage</span>
              Cthulus Sword made from cthulu eye and bones
            </p>
            <p>
              <a class="btn btn-primary" href="#">Equip</a>
            </p>
          </div>
        </div>
        <div class="card"  >
          <img class="card-img-top"
               alt="item1"
               src="https://i.gyazo.com/4508eae30c678afaf035ea3cee0a9672.png" height="100" width="100"/>
          <div class="card-block">
            <h5 class="card-title">
              Sword Of Cthulu
            </h5>
            <p class="card-text"><span>+5 damage, +2 Fire Damage</span>
              Cthulus Sword made from cthulu eye and bones
            </p>
            <p>
              <a class="btn btn-primary" href="#">Equip</a>
            </p>
          </div>
        </div>
      </div>
  </div>

  <div class="card-deck">
    <h1 class="text-center text-primary">
      Helmets
    </h1>
    <div class="row">

      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/helmet.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Helmet of OK
          </h5>
          <p class="card-text"><span>+8 Armor, +2 Ice Defense</span>
            Just an ok Helmet
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/helmet.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Helmet of OK
          </h5>
          <p class="card-text"><span>+8 Armor, +2 Ice Defense</span>
            Just an ok Helmet
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/helmet.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Helmet of OK
          </h5>
          <p class="card-text"><span>+8 Armor, +2 Ice Defense</span>
            Just an ok Helmet
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/helmet.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Helmet of OK
          </h5>
          <p class="card-text"><span>+8 Armor, +2 Ice Defense</span>
            Just an ok Helmet
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/helmet.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Helmet of OK
          </h5>
          <p class="card-text"><span>+8 Armor, +2 Ice Defense</span>
            Just an ok Helmet
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/helmet.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Helmet of OK
          </h5>
          <p class="card-text"><span>+8 Armor, +2 Ice Defense</span>
            Just an ok Helmet
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="card-deck" style="padding-bottom: 50px">
    <h1 class="text-center text-primary">
      Chest
    </h1>
    <div class="row">

      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>
      <div class="card"  >
        <img class="card-img-top" alt="item1" src="../../assets/chest.png" height="100" width="100"/>
        <div class="card-block">
          <h5 class="card-title">
            Chest of Alright
          </h5>
          <p class="card-text"><span>+2 Armor, +1 Dark Defense</span>
            Just an alright Chest Piece
          </p>
          <p>
            <a class="btn btn-primary" href="#">Equip</a>
          </p>
        </div>
      </div>

    </div>
  </div>

</div>
