<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customization</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div id="side" class="row content">
    <div class="col-sm-5 sidenav">
      <p>Fname Lname</p>
      <div id="playerPicture">
        <img class="johnnyB" src="../assets/Johnny_Bravo.png" alt="RPGains">
      </div>
    </div>

    <div class="col-sm-7 right">
      <div class="tab">
        <ul *ngFor="let menu of menus"
            [class.selected]="menu === selectedMenu"
            (click)="onSelect(menu)">
          <li> <a> {{menu.name}}</a></li>

        </ul>
        <!--If armor is selected-->
        <div *ngIf="selectedMenu.name === 'Armor'">
          <h2>{{ selectedMenu.name | uppercase }} Details</h2>
          <div  id="one" class="tabcontent">
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
          <div class="col-sm-3 row1">
            <a href="http://www.ign.com/"><img src="../../assets/armour.png" class="img-thumbnail"></a>
          </div>
        </div>
        </div>
        <!--If helmet is selected-->
        <div *ngIf="selectedMenu.name === 'Helmet'">
          <h2>{{ selectedMenu.name | uppercase }} Details</h2>
          <div  id="two" class="tabcontent">
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/helmetStock.png" class="img-thumbnail"></a>
            </div>
          </div>
        </div>
        <!--If weapon is selected-->
        <div *ngIf="selectedMenu.name === 'Weapon'">
          <h2>{{ selectedMenu.name | uppercase }} Details</h2>
          <div  id="three" class="tabcontent">
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
            <div class="col-sm-3 row1">
              <a href="http://www.ign.com/"><img src="../../assets/swordy.png" class="img-thumbnail"></a>
            </div>
          </div>
        </div>

      </div>



      <!--<div id="two" class="tabcontent">-->
      <!--<div class="col-sm-2 blank">-->
      <!--</div>-->
      <!--<div class="col-sm-3 row2">-->
      <!--<h4>col 1</h4>-->
      <!--</div>-->
      <!--<div class="col-sm-3 row2">-->
      <!--<h4>col 2</h4>-->
      <!--</div>-->
      <!--<div class="col-sm-3 row2">-->
      <!--<h4>col 3</h4>-->
      <!--</div>-->

      <!--</div>-->

      <!--<div id="three" class="tabcontent">-->
      <!--<div class="col-sm-2 blank">-->
      <!--</div>-->
      <!--<div class="col-sm-3 row3">-->
      <!--<h4>col 1</h4>-->
      <!--</div>-->
      <!--<div class="col-sm-3 row3">-->
      <!--<h4>col 2</h4>-->
      <!--</div>-->
      <!--<div class="col-sm-3 row3">-->
      <!--<h4>col 3</h4>-->

      <!--</div>-->
      <!--</div>-->
    </div>

  </div>
</div>


</body>
</html>
