/*colors:
-YELLOW (#FAED26)
-PURPLE (#46344E)
-DARK GRAY (#5A5560)
-GRAY (#9D8D8F)
-BROWN (#9B786F)
 */

html{
  background-color: #5a5560;
}
body{
  background-color: #5a5560;
  height: 900px;
  color: white;
  font-family: 'Oswald', sans-serif;

}

.rpgLogo{
  height: 75px;
  padding: 10px;
  width: 175px;
}

a {
  color:whitesmoke;
}

.navbar{
  padding-top: 45px;
  padding-left: 20px;
  border-radius: 0;
  vertical-align:middle;
  height: 75px;
}

button {
  background-color: #5A5560;
}
