
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<script>
  if (localStorage.session == 'logged') {
    document.getElementById('logged').innerHTML = "<button>Log out</button>"
  }
</script>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-left">
      <a routerLink="/homepage"><img class="rpgLogo" src="../assets/dashboard/rpgLogo2.png" alt="RPGains"></a>
    </div>
    <div class="nav navbar-expand-lg" id="myNavbar">
      <ul id="pages" class="nav navbar-nav navbar-right">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/tracking">Track</a></li>
        <li><a routerLink="/inventory">Customize</a></li>
        <li><a routerLink="/loot">Loot</a></li>
        <li><a routerLink="/api">Google Fit </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-sm-3 track">
    <form #trackingForm="ngForm">
      <!--{{diagnostic}}-->
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" id="weight" required [(ngModel)]="model.weight" name="weight">
      </div>
      <div class="form-group">
        <label for="bench">Bench wt.</label>
        <input type="text" class="form-control" id="bench" required [(ngModel)]="model.bench" name="bench">
      </div>
      <div class="form-group">
        <label for="squat">Squat wt.</label>
        <input type="text" class="form-control" id="squat" required [(ngModel)]="model.squat" name="squat">
      </div>
      <div class="form-group">
        <label for="curl">Curl wt.</label>
        <input type="text" class="form-control" id="curl" required [(ngModel)]="model.curl" name="curl">
      </div>
      <div class="form-group">
        <label for="calories">Calorie Intake</label>
        <input type="text" class="form-control" id="calories" required [(ngModel)]="model.calories" name="calories">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <div class="col-sm-1 blank">

  </div>

  <div class="col-sm-8 graph">
    <google-chart [data]="bench"></google-chart>
    <nav class="navbar">
      <div class="nav navbar-expand-lg" id="myNavbar">
        <ul id="trackNavBar" class="nav navbar-nav">
          <li><a routerLink="/tracking">Weight</a></li>
          <li><a routerLink="/tracking">Bench</a></li>
          <li><a routerLink="/tracking">Squat</a></li>
          <li><a routerLink="/tracking">Curl</a></li>
          <li><a routerLink="/tracking">Calorie Intake</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid">
  <div class="col-sm-3 blank">

  </div>
  <div class="col-sm-2 blank">

  </div>
</div>
</body>

<!--<ul>
  <li *ngFor="let user of users | async">
    <pre>{{user | json}}</pre>
  </li>
</ul>-->
