<div class="navbar">
  <img src="../../assets/rpgLogo2.png" height="125" class="centerNav"/>
  <a href="#login">Login</a>
  <a href="#signUp">Sign up</a>
  <a href="#play">Play</a>
</div>





<div class="bgimg-1">
  <div class="caption">

  </div>
</div>


<div class="bgimg-2">
  <div class="caption">
    <span class="strokedHeading">ABOUT</span>
  </div>
</div>

<div style="position:relative;">
  <div class="section">
    <p style="font-size: 20px">RPGains was created for one reason. To help you get fit.<br>
      We know that motivation can be one of the hardest parts of going to the gym and repeatedly going back.
      What we've set out to do is create another reason for you to go to the gym, track your fitness, and reach your goals.
      RPGains is a game-based aide to your workout. It provides a simple way to track your workout, progress, and goals, and rewards you for your persistence.
      By giving incentives for going to gym, as well as meeting your calorie goals, and increasing your strength training, users may strive towards a healthier
      lifestyle, and a stronger body.
    </p>
  </div>
</div>
<!--
<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
</div>
-->
<div class="bgimg-3">
  <div class="caption">
    <span class="strokedHeading">HOW IT WORKS</span>
  </div>
</div>

<div style="position:relative;">
  <div class="section">
    <p style="font-size: 20px;">

    </p>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
    <span class="strokedHeading">CONTACT US</span>
  </div>
</div>

<div style="position:relative;">
  <div class="section">
    <p style="font-size: 20px;">

    </p>
  </div>
</div>

<div class="footer">

</div>
